# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Logs and reports
log/
logs/
reports/

# PyCharm settings
.idea/

# OS files
.DS_Store

#ignore local db files
.sqlite
db/
