behave==1.2.6
allure-behave==2.14.3
requests==2.32.4
PyYAML==6.0.2
Faker==37.4.2
fastapi==0.116.1
uvicorn==0.35.0
pact-python==2.3.3
behave-html-formatter
pydantic==2.11.7
allure-python-commons==2.14.3